.drop-area {
  min-width: 100px !important;
  border: none !important;
  border-radius: 4px;
  background: var(--primary-gray);
  color: var(--tertiary-blue) !important;
  padding: 1rem;
  font-size: 12px;
  input[type='file'],
  svg {
    display: contents !important;
  }
}
