.input-control {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: var(--border);
  background: #fff;

  input {
    font-size: 12px;
    padding: 1em !important;
    border-radius: 8px !important;
    color: var(--primary-blue) !important;
  }
  select {
    font-size: 14px;
    padding: 1em !important;
    border-radius: 8px !important;
  }
  select,
  input::placeholder {
    color: var(--tertiary-blue) !important;
  }

  input[type='date'] {
    color: var(--tertiary-blue) !important;
  }

  input:disabled {
    background: var(--primary-gray) !important;
  }

  select:disabled {
    background: var(--primary-gray) !important;
  }
}

.input-error {
  border: var(--border-error);
}

.input-control-evenly {
  display: flex;
  justify-content: space-evenly;
}
