.select-multiple-container {
  border-radius: 8px;
  border: 1px solid var(--tertiary-gray);
  background: var(--primary-gray);
  .select-multiple-item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: var(--tertiary-blue);
    border-bottom: 1px solid var(--tertiary-gray);
  }
  .select-multiple-item:last-child {
    border-bottom: none !important;
  }
}
