.button-primary {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background: var(--primary-purple);
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  justify-content: center;
  .icon-add {
    margin: 0rem 0.7rem 0rem 0rem;
  }
}
.button-primary:disabled {
  background: var(--secondary-purple);
}

.button-top-margin {
  margin-top: 16px;
}

.button-secondary {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  border: var(--border-purple);
  border-radius: 8px;
  color: var(--primary-purple);
  font-size: 14px;
  .icon-add {
    margin: 0rem 0.7rem 0rem 0rem;
  }
  justify-content: center;
}
.button-secondary:hover {
  background: var(--primary-purple);
  color: #fff;
}
.button-secondary:disabled {
  background: var(--secondary-purple);
}

.button-select-service {
  max-width: 120px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #a2a7bf;
  border-radius: 8px;
  color: var(--tertiary-blue);
  font-size: 16px;
  .icon-select {
    height: 78px;
    width: 70px;
    margin-bottom: 1rem;
  }
}
.button-select-service:focus {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-purple);
  border-radius: 8px;
  color: var(--tertiary-blue);
  font-size: 16px;
  .icon-select {
    height: 78px;
    width: 70px;
    margin-bottom: 1rem;
  }
}
