@import 'page.module.scss';

@import './pages/login.scss';
@import './pages/dashboard.scss';
@import './pages/campaign.scss';
@import './pages/profile.scss';
@import './pages/employees.scss';

@import './components/HeroLayout.scss';

@import './components/atoms/Buttons.scss';
@import './components/atoms/SearchInput.scss';
@import './components/atoms/Texts.scss';

@import './components/molecules/InputControl.scss';
@import './components/molecules/HeaderSteper.scss';
@import './components/molecules/Alert.scss';
@import './components/molecules/SelectMultiple.scss';

@import './components/organisms/TableLayout.scss';
@import './components/organisms/Pagination.scss';
@import './components/organisms/FormControl.scss';
@import './components/organisms/Modal.scss';

@import './components/LayoutHeader.scss';
@import './components/SideBar.scss';
@import './components/NavBar.scss';
@import './components/Button.scss';
@import './components/Search.scss';
@import './components/Titles.scss';
@import './components/DropArea.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
  --background-layout: #fef9fc;
  --primary-purple: #9f2180;
  --secondary-purple: #cba3bd;
  --primary-gray: #f2f2f3;
  --secondary-gray: #d9d9d9;
  --tertiary-gray: #b4b5b9;
  --four-gray: #e4e6ec;

  --primary-blue: #103a84;
  --secondary-blue: #0c2d66;
  --blue-dark: #071a3b;
  --blue-light: #f0f2f8;
  --tertiary-blue: #a2a7bf;
  --status-error: #e92b45;
  --status-warning: #f9d549;
  --status-success: #5fc577;
  --border: 1px solid var(--blue-light);
  --border-secondary: 1px solid var(--tertiary-gray);

  --border-error: 1px solid var(--status-error);
  --border-purple: 1px solid var(--primary-purple);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
table {
  border-collapse: separate;
  border-spacing: 0px;
}
html,
body {
  max-width: 100vw;
  overflow: hidden;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}

input:not([type='radio']):not([type='checkbox']) {
  all: unset;
}

select {
  all: unset;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-typing {
  width: 103px;
}

.loading-typing p {
  white-space: nowrap;
  overflow: hidden;
}
.loading-typing p {
  width: 7.3em;
  -webkit-animation: type 1.5s steps(60, end);
  animation: type 1.5s steps(60, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background-color: var(--blue-light);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--blue-light);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--blue-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-purple);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-purple);
}
